# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# SQLite database
*.db

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# Logs
*.log

# Redis dump files (if any)
dump.rdb
